{% extends 'base.html.twig' %}

{% block body %}
 {% block header %}
      {% include 'commons/_header.html.twig' %}
    {% endblock %}
  
      <main>
  <div class="containerUpdate-ingredient"> 

    <h1 class="ingredientUpdate-title">Modification de l'ingrédient</h1>
  <div class="ingredientUpdate-form">
    {{ form_start(form) }}
 
     <div class="form-group ingredientName">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
          <div class="form-error">
            {{ form_errors(form.name) }}
         </div>
    </div>

    <div class="form-group ingredientPrice">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
          <div class="form-error">
             {{ form_errors(form.price) }}
          </div>
    </div>

    <div class="btnIngredientSubmit">
       {{ form_row(form.submit) }}
       </div>
    
    </div>
     

    {{ form_end(form) }}
    </div>
  </div>
   </main>
{% endblock %}