{% extends 'base.html.twig' %}

{% block title %}
  La Toque - Modifier une recette
{% endblock %}

{% block body %}

<header>
  {% block header %}
    {% include 'commons/_header.html.twig' %}
  {% endblock %}
</header>

  <section class="updateRecipe-container newRecipeWidth">

   

    <div class="updateRecipe-box">
      {{ form_start(form) }}
 <h1 class="updateRecipe-title">
      Modification d'une recette
    </h1>
      <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        <div class="form-error">
          {{ form_errors(form.name) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.nbPeople) }}
        {{ form_widget(form.nbPeople) }}
        <div class="form-error">
          {{ form_errors(form.nbPeople) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.time) }}
        {{ form_widget(form.time) }}
        <div class="form-error">
          {{ form_errors(form.time) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.difficulty) }}
        {{ form_widget(form.difficulty) }}
        <div class="form-error">
          {{ form_errors(form.difficulty) }}
        </div>
      </div>
        
      <div class="form-group">
          {{ form_label(form.description) }}
          {{ form_widget(form.description) }}
        <div class="form-error">
          {{ form_errors(form.description) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        <div class="form-error">
          {{ form_errors(form.price) }}
        </div>
      </div>

      <div class="form-groupFavorite">
        {{ form_label(form.isFavorite) }}
        {{ form_widget(form.isFavorite) }}
   
        <div class="form-error">
          {{ form_errors(form.isFavorite) }}
        </div>
      </div>
      {{ form_row(form.ingredients) }}
 <div class="formLastPart">
      {{ form_end(form) }}
      </div>
          <div class="gridImg"></div>
       </div>
 
   
      </section>

{% endblock %}
