{% extends 'base.html.twig' %}

{% block title %}La Toque - {{ recipe.name }}{% endblock %}

{% block body %}

    {% block header %}
      {% include 'commons/_header.html.twig' %}
    {% endblock %}

    <main>
<article class="recipeDetails-container"> 
  <div class="recipeDetails-Leftontainer">
      <h1 class="recipeDetailsTitle">{{ recipe.name }}</h1>

 
    <figure>
      <img style="width:400px;" style="height:400px;" src="{{ vich_uploader_asset(recipe,'imageFile') }}"> </figure>
 
     
          <span class="recipeCreationDate">Crée le {{ recipe.createdAt|date('d/m/Y') }}</span>
       
        </div>
  <div class="recipeDetails-rightContainer">
     

    <div class="recipeTime">
        {% if recipe.time %} 
          <p class ="timeParagraph"> Temps de préparation  </p>
            <span>{{ recipe.time }} min </span>
        {% else %}
          <p class ="timeParagraph">Temps non renseigné</p>
        {% endif %}
      </div>

    <div class="recipeNbPeople">
        {% if recipe.nbPeople %} 
          <p class="nbPeopleParagraph"> Pour </p> 
         <span>{{ recipe.nbPeople }} personne(s) </span> 
        {% else %}
          <p "nbPeopleParagraph">Nombre de personnes non renseigné</p>
        {% endif %}
      </div>

    <div class="recipeDifficulty">
        {% if recipe.difficulty %} 
          <p> Difficulté </p> 
          <span>  {{ recipe.difficulty }}/5 </span>
        {% else %}
          <p>Difficulté non renseigné</p>
        {% endif %}
      </div>

    <div class="recipePrice">
        {% if recipe.price %} 
          <p> Prix  </p> 
           <span>{{ recipe.price }} € </span> 
        {% else %}
          <p>Difficulté non renseigné</p>
        {% endif %}
      </div>

            <div class="recipeDescription">
          <p>Etapes de préparation de la recette  </p>
        <span class="descriptionText"> {{ recipe.description|raw }}</span>
          </div>

        <div class="recipeIngredientContainer">
            <p class="recipeIngredientParagraph">Ingrédients</p>
            <div class="boxbox">
          {% for ingredient in recipe.ingredients %}
            <span class="checkboxIngredient" >{{ ingredient.name }}</span>
          {% endfor %}
          </div>
        </div>
         </div>
    </article>
      </main>
       {% block footer %}
      {% include 'commons/_footer.html.twig' %}
    {% endblock %}
    {% endblock %}