        
          {% if app.user %}
          
<nav>
  <div class="navbar-container">
  <div class="leftSide-menu">
      <ul class="navbar-ul">
        <li class="navbar">
          <a class="nav-link active" href="{{ path('home.index') }}">Accueil
          </a>
          </li>
             <li class="nav-item">
          <a class="nav-link lead" href="{{ path('ingredient.index') }}">Mes ingrédients
          </a>
          </li>
           </li>
             <li class="nav-item">
          <a class="nav-link lead" href="{{ path('recipe.index') }}">Mes recettes
          </a>
          </li>
           <li class="nav-item">
          <a class="nav-link lead" href="{{ path('recipe.public') }}">La communauté
          </a>
          </li>
  </ul>
   
          </div>
             <div class="rightSide-menu">
          <ul class="rightNav-ul">
            <li> <a class="rightSide-menu-update" href="{{ path('user.edit' , {id : app.user.id}) }}" >Modifier mes informations</a></li>
            <li><a class="rightSide-menu-deco" href=" {{ path('security.logout') }}">Déconnexion</a></li>
          </ul>
          </div>
              {% endif %}
    

   
    
       
      
  
      
      </div>
    </div>
  </div>
</nav>