{% extends 'base.html.twig' %}

{% block title %}
  LA Toque - connexion
{% endblock %}

{% block body %}
  <section class="login-container">
    <div class="left-login-img"></div>
    <div class="login-grid">
      <h1 class="login-h1">
        Formulaire de connexion
      </h1>

      {% for message in app.flashes('success') %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endfor %}

      {% if error %}
        <div class="alert alert-danger">
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
      {% endif %}

      <form action="{{ path('security.login') }}" method="post">
        <div class="form-group">
          <label for="username" class="form-label">Adresse-email</label>

          <input type="email"
            class="form-control"
            id="username"
            name="_username"
            placeholder="exemple@latoque.fr"
            value="{{ last_username }}" />
          <div class="flex-input">
            <small id="emailHelp" class="form-text text-muted">
              Dont worry , on ne partagera pas vos informations personnelles.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password"
            class="form-control"
            id="password"
            name="_password"
            placeholder="********" />
        </div>
        <input type="hidden"
          name="_csrf_token"
          value="{{ csrf_token('authenticate') }}" />
        <button type="submit" class="form-btn-login">Se connecter</button>
      </form>
        <div class="noAccountBox">
    <p> Pas encore de compte ? <span><a class="noAccountLink" href="{{ path('security.registration') }}">Inscrivez vous ici !
          </a> </span> </p> </div>
    </div>
  
  </section>
{% endblock %}
